<div class="row">
    <h2>Feature 2: Average life expectancy per country
        <small>for persons born on 1952-01-01</small></h2>
    <div class="col-sm-4">
        <br /><br />
        <b>Select a country to see it's average life expectancy:</b>
        <form class="form form-control">
            <label for="country4">Country 1</label><select id="country4" class="country form-control"></select>
            <label for="country4">Country 2</label><select id="country5" class="country form-control"></select>
            <label for="country4">Country 3</label><select id="country6" class="country form-control"></select>
        </form>
    </div>
    <div class="col-sm-8">
        <div id="lifeExpectancyChart" class="chart"></div>
    </div>
</div>