<div class="row">
    <h2>Feature 1: Total population of today
        <small>comparizon of 3 countries</small></h2>
    <div class="col-sm-4">
        <br /><br />
        <b>Select a country to see it's population for today:</b>
        <form class="form form-control">
            <label for="country1">Country 1</label><select id="country1" class="country form-control"></select>
            <label for="country2">Country 2</label><select id="country2" class="country form-control"></select>
            <label for="country3">Country 3</label><select id="country3" class="country form-control"></select>
        </form>
        <p class="hidden countries error">Please pick 3 different countries!</p>
    </div>
    <div class="col-sm-8">
        <div id="totalPopulationChart" class="chart"></div>
    </div>
</div>