<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/header :: head(title='Minimalistic Population Api Microservice')"></head>

    <body>
        <div class="container">
            <div class="jumbotron">
                <h1 class="display-4">Hello, world!</h1>
                <p class="lead">This is just a very simple GUI, for data visualization. It uses ajax to communicate with the back-end using <a target="_blank" href="https://api.jquery.com/">jQuery</a>.
                    <br /> Charts powered by <a target="_blank" href="https://plot.ly/javascript/getting-started/#plotlyjs-cdn">PlotlyJs</a>.
                    The visible data is provided by the <a target="_blank" href="http://api.population.io">http://api.population.io</a>.</p>
                <hr class="my-4">
                <p>Designed & developed by <a href="https://www.linkedin.com/in/pchabros/">Piotr Chabros</a></p>
            </div>
            <div th:replace="fragments/totalPopulationChart.html"></div>
            <div th:replace="fragments/lifeExpectancyChart.html"></div>
        </div>
    </body>

    <footer></footer>
</html>